@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather:wght@400;900&display=swap");

$col0: #faf1e6;
$col1: #f2dabe;
$col2: #ffc074;
$col3: #ffa02c;
$col4: #b6c867;
$col5: #00584b;

* {
  margin: 0;
  box-sizing: content-box;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

body {
  background-color: $col0;
}

a {
  text-decoration: none;
}

@mixin heading {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 2.5rem;
}

@mixin subheading {
  font-family: "Merriweather", serif;
  font-weight: 400;
}

@mixin button2 {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  border-radius: 0.2rem;
  margin: 0 1.5rem;
  padding: 0.5rem 1.2rem;
  background-color: rgba($col2, 0.4);
  border: 1px solid $col2;
  margin: 1rem 1.5rem;
  text-decoration: none;
  color: $col3;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

@mixin input {
  background-color: transparent;
  border: 0.1rem solid $col5;
  border-radius: 0.2rem;
  outline: none;
  padding: 0.5rem;
  padding-right: 1.8rem;
  font-size: 1rem;
  color: $col5;
  letter-spacing: 0.1rem;
}

@mixin center-main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin auth-main {
  border-radius: 0.4rem;
  margin: 2rem 0;
  background-color: rgba($col4, 0.2);
  width: 35%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  h1 {
    @include subheading;
    color: $col5;
  }
  form {
    margin: -1rem;
    display: flex;
    flex-direction: column;
    input {
      @include input;
      margin-bottom: 0.2rem;
      font-size: 1rem;
      width: 15.625rem;
    }
    label {
      margin: 0.5rem 0;
      letter-spacing: 0.1rem;
      color: $col5;
    }
    button {
      @include button2();
      align-self: center;
      width: auto;
    }
    button:hover {
      background-color: rgba($col2, 0.6);
    }
  }
  p {
    color: $col5;
    span {
      color: $col2;
      font-weight: bold;
    }
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  a {
    @include heading;
    color: $col5;
  }
  input {
    background-color: transparent;
    border: 0.1rem solid $col5;
    border-radius: 0.2rem;
    outline: none;
    padding: 0.5rem;
    padding-right: 1.8rem;
    width: 25rem;
    font-size: 1rem;
    color: $col5;
    letter-spacing: 0.1rem;
    transition: background-color 0.3s ease;
  }
  input:focus {
    background-color: rgba($col5, 0.2);
  }
  div {
    display: flex;
    i {
      margin: 0 -1.6rem;
      color: $col5;
    }
  }
}

// Landing
.landing-main {
  @include center-main();
  p {
    @include subheading;
    color: $col5;
    font-size: 2rem;
    margin: 2rem;
    span {
      @include heading;
      color: $col4;
    }
  }

  div {
    display: flex;
    justify-content: center;
    a {
      button {
        @include button2;
      }
      button:hover {
        background-color: rgba($col2, 0.6);
      }
    }
  }
}

// Register
.register-main {
  @include center-main;
  @include auth-main();
}

// Login
.login-main {
  @include center-main;
  @include auth-main();
  height: 25rem;
}

// Forgot password
.forgot-password-main {
  @include center-main;
  @include auth-main();
  height: 15rem;
}
