@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300;700;900&display=swap");

$bg: #f8f5f1;
$main: #132c33;
$hl1: #f8a488;
$hl2: #5aa897;

html,
body {
  background-color: $bg;
}

* {
  font-family: "Martel", serif;
  // -webkit-user-select: none; /* Safari */
  // -moz-user-select: none; /* Firefox */
  // -ms-user-select: none; /* IE10+/Edge */
  // user-select: none; /* Standard */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@mixin button {
  button {
    min-width: 8rem;
    align-self: center;
    margin: 1.2rem 0;
    padding: 0.5rem 1.2rem;
    font-weight: 700;
    border: 1px solid $hl1;
    border-radius: 0.3rem;
    background-color: rgba($hl1, 0.2);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: $hl1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  button:hover {
    background-color: rgba($hl1, 0.4);
  }
}

@mixin main {
  width: 90vw;
  margin: 1rem auto;
  min-height: 80vh;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  h1 {
    font-weight: 700;
    color: $hl2;
  }
  form {
    width: 75%;
    padding: 0.5rem;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    label {
      color: $main;
      margin: 0.2rem 0;
      letter-spacing: 0.1rem;
    }
    input {
      border-radius: 0.3rem;
      border: 1px solid $main;
      outline: none;
      padding: 0.3rem 0.5rem;
      background-color: transparent;
      color: $main;
      margin-bottom: 0.5rem;
      font-size: 1rem;
    }
    @include button();
  }
  p {
    color: rgba($main, 0.8);
    margin: 0.2rem 0;
    span {
      color: $hl2;
      font-weight: bold;
    }
  }
}

// Spinner
.loader {
  border: 0.5rem solid $hl2;
  border-radius: 50%;
  border-top: 0.5rem solid $main;
  width: 3rem;
  height: 3rem;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 40%;
  left: 45%;
}

.button-loader {
  margin: 0 0.6rem;
  border: 0.2rem solid $hl1;
  border-radius: 50%;
  border-top: 0.2rem solid $bg;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.alerts {
  position: absolute;
  right: 1rem;
  top: 1.2rem;
}

.alert {
  margin: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
}

.alert button {
  font-size: 1.2rem;
  color: $bg;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 1rem;
}

.alert button:after {
  content: "\00d7";
  font-weight: 900;
}

.danger {
  border: 1px solid red;
  background-color: rgb(255, 50, 50);
  color: white;
}

.success {
  border: 1px solid green;
  background-color: rgb(0, 175, 0);
  color: white;
}

.container {
  margin: 0 auto 1rem;
  max-width: 1300px;
  padding: 1rem 1.2rem 0;
  width: 100vw;
  display: grid;
  grid-template-rows: auto 1fr;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  h1 {
    flex-grow: 2;
    a {
      text-decoration: none;
      font-size: 2.5rem;
      color: $hl2;
      font-weight: 900;
    }
  }
  .search-form-div {
    flex: 1;
    flex-basis: 15rem;
    position: relative;
    form {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      input {
        width: 100%;
        border-radius: 0.3rem;
        border: none;
        outline: none;
        padding: 0.5rem;
        background-color: rgba($hl2, 0.3);
        color: $main;
        transition: all 0.2s ease-in-out;
      }
      i {
        margin: 0 93%;
        position: absolute;
        font-size: 1.2rem;
        color: $main;
        cursor: pointer;
      }

      input:focus {
        background-color: rgba($hl2, 0.6);
      }
    }
    .dropdown-options {
      a {
        text-decoration: none;
      }
      position: absolute;
      background-color: #9bc2ba;
      width: 100%;
      border-radius: 0.3rem;
      margin: 0.2rem 0;
      z-index: 1;
      .option {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0.5rem 0.6rem;
        img {
          width: 2.5rem;
        }
        .dropdown-details {
          * {
            text-decoration: none;
            color: $main;
            font-size: 0.8rem;
            margin: 0.2rem 0.6rem;
            letter-spacing: 1px;
          }
          h1 {
            font-weight: 900;
            font-size: 0.9rem;
          }
          h3 {
            font-weight: 700;
            font-size: 0.8rem;
          }
        }
      }
      .option:hover {
        background-color: rgba($hl2, 0.6);
      }
      .option:first-child {
        padding: 0.3rem 0.8rem;
        border-radius: 0.2rem 0.2rem 0 0;
      }
      .option:last-child {
        border-radius: 0 0 0.2rem 0.2rem;
      }
    }
  }
}

.landing-main {
  width: 100%;
  margin: 1rem auto;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  img {
    margin: 0 auto;
    flex-grow: 1;
    width: 90%;
    max-width: 25rem;
    flex-basis: 25rem;
  }
  .landing-text {
    margin: 2rem 1rem;
    line-height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      font-weight: 700;
      font-size: 2.1rem;
      color: $hl2;
      span {
        font-weight: 900;
        color: $main;
        margin-left: 0.2rem;
      }
    }
    .btn-div {
      margin: 1rem 0;
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      // flex-basis: 10rem;
      justify-content: space-evenly;
      a {
        button {
          width: 8rem;
          margin: 0 1rem;
          padding: 0.6rem 1.4rem;
          outline: none;
          border: 1px solid $hl1;
          border-radius: 0.3rem;
          font-weight: 700;
          color: $hl1;
          background-color: rgba($hl1, 0.3);
          transition: background-color 0.2s ease-in-out;
          cursor: pointer;
        }
        button:hover {
          background-color: rgba($hl1, 0.5);
        }
      }
    }
  }
}

.forgot-password-main,
.login-main,
.register-main,
.reset-password-main,
.verify-main,
.resend-main {
  @include main();
}

.verify-main {
  h1 {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  @include button();
}

.dashboard-main {
  display: flex;
  .sidebar {
    align-self: flex-start;
    flex: 1 0 10rem;
    position: sticky;
    top: 2rem;
    flex: 0 1 16rem;
    margin: 0 1rem 0 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    .library-search {
      width: 100%;
      .library-search-input {
        position: relative;
        width: 100%;
        background-color: rgba($hl2, 0.2);
        border-radius: 0.2rem;
        border: none;
        outline: none;
        padding: 0.5rem;
        color: $main;
        transition: background-color 0.3s ease;
        padding-right: 2rem;
      }
      i {
        position: absolute;
        right: 0.6rem;
        font-size: 1rem;
        top: 0.6rem;
        cursor: pointer;
      }
      .library-search-input:focus {
        background-color: rgba($hl2, 0.4);
      }
    }
    .links {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: rgba($hl1, 0.6);
      border-radius: 0.2rem;
      margin: 0.5rem 0 0.5rem;
      a {
        color: $bg;
        font-size: 1rem;
        padding: 0.6rem 1rem;
      }
      a:first-child {
        border-radius: 0.2rem 0.2rem 0 0;
      }
      a:last-child {
        border-radius: 0 0 0.2rem 0.2rem;
      }
      .active {
        background-color: rgba($hl1, 0.9);
        font-weight: bold;
      }
      a:hover {
        background-color: rgba($hl1, 0.9);
      }
    }
    .bottom-links {
      display: flex;
      flex-direction: column;
      border-radius: 0.2rem;
      width: 100%;
      button {
        margin: 0;
        background-color: rgba($hl2, 0.9);
        border: none;
        cursor: pointer;
        box-shadow: none;
        font-size: 1rem;
        transition: background-color 0.1s ease-in-out;
        a,
        span {
          display: flex;
          align-items: center;
          color: $bg;
          padding: 0.6rem 1rem;
          width: auto;
        }
        i {
          margin-right: 0.8rem;
        }
      }
      button:first-child {
        border-radius: 0.2rem 0.2rem 0 0;
      }
      button:last-child {
        border-radius: 0 0 0.2rem 0.2rem;
      }
      button:hover {
        background-color: rgba($hl2, 1);
      }
      .user-active {
        background-color: rgba($hl2, 1);
      }
    }
  }
  .main {
    flex: 4 0;
    border-radius: 0.3rem;
    background-color: rgba($hl2, 0.2);
    padding: 1rem;
    .library-books {
      display: grid;
      grid-gap: 0.8rem;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-around;
      .book-item {
        background-color: $bg;
        border-radius: 0.3rem;
        display: flex;
        img {
          flex-basis: 5%;
          border-radius: 0.3rem 0 0 0.3rem;
        }
        .book-details {
          flex-basis: 90%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 0.5rem 1rem;
          .book-text {
            * {
              font-weight: 300;
            }
            a {
              h1 {
                font-weight: 700;
                margin: 0;
                padding: 0;
              }
              font-size: 0.6rem;
              color: $main;
            }
            h2 {
              font-size: 0.75rem;
              color: $hl2;
              font-weight: bold;
            }
            h3 {
              font-size: 0.65rem;
              color: $hl2;
            }
          }
          .book-options {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 860px) {
  // Horizontal buttons
  .dashboard-main {
    flex-direction: column;
    .sidebar {
      margin: 0;
      position: inherit;
      flex: 0;
      align-self: stretch;
      .library-search {
        order: 1;
      }
      .links {
        flex-direction: row;
        text-align: center;
        a {
          flex: 1;
        }
      }
      .bottom-links {
        flex-direction: row;
        order: -1;
        button {
          flex: 1;
          border-radius: 0;
          a,
          span {
            justify-content: center;
          }
        }
        button:first-child {
          border-radius: 0;
        }
        button:last-child {
          border-radius: 0;
        }
      }
    }
  }

  .dashboard-main .main {
    margin-top: 1rem;
  }
  .library-books {
    grid-template-columns: 100% !important;
  }
}

@media only screen and (max-width: 700px) {
  .landing-main,
  .forgot-password-main,
  .login-main,
  .register-main,
  .reset-password-main,
  .verify-main,
  .resend-main,
  .dashboard-main {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 550px) {
  .alerts {
    margin: 0 auto;
  }

  // Vertical sidebar
  .nav {
    .title {
      text-align: center;
    }
  }

  .dashboard-main {
    .sidebar {
      .links {
        flex-direction: column;

        a {
          flex: 1;
        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .container {
    width: 100vw;
    padding: 0;
    // margin: 0;
  }
}
